.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
.Routes{
    margin-top: 80vh; /* Change this value to match the height of your Header component */
}
.Home{
    margin-top: 80vh; /* Change this value to match the height of your Header component */
}
